.wrapper {
   width: 300px;
   padding: 20;
   margin-left: 30px;
   color: #fff;
}
.list__container {
   margin: 0;
   padding: 0;
   list-style: none;
}
.list__item {
   padding: 5px;
   margin-bottom: 5px;
}
.item__title {
   color: rgba(255, 255, 255, 0.849);
   font-size: 17px;
   font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.item {
   margin-left: 5px;
   text-decoration: underline;
   text-shadow: rgb(197, 255, 228);
}
@media screen and (max-width: 700px) {
   .wrapper {
      width: 100%;
      margin: 0;
      margin-top: 20;
   }
}
